<form class="request-form {{formClassName}}">
	<h3 class="request-form__title">Make your Ride!</h3>
	<div class="request-form__text text">
		<p>This can salutandi quo nec elit utinam facer pertinax a
			fierent, virtute dosent.</p>
	</div>
	<div class="request-form__body">
		<div class="request-form__group">
			<label class="request-form__label sr-only" for="request[name]">Enter your name</label>
			<input class="request-form__input" type="text" id="request[name]" name="request[name]" placeholder="Your name"
				required>
		</div>
		<div class="request-form__group">
			<label class="request-form__label sr-only" for="request[phone]">Enter your phone number</label>
			<input class="request-form__input" type="tel" id="request[phone]" name="request[phone]"
				placeholder="Your phone" maxlength="10" required>
		</div>
		<div class="request-form__group">
			<label class="request-form__label sr-only" for="request[email]">Enter your email</label>
			<input class="request-form__input" type="email" id="request[email]" name="request[email]"
				placeholder="Your mail" required>
		</div>
		<button class="btn request-form__btn" type="submit">request a call</button>
	</div>
	<p class="request-form__footer text">
		Your data will not be shared with third parties.
	</p>
</form>