@use '../styles/mixins' as*;

.icon {
	display: flex;
	align-items: center;

	&:before {
		content: '';
		width: 20px;
		height: 20px;
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
		background-color: currentColor;
		transition: background-color 0.3s ease-in-out 0s;
	}
}

.icon-location {
	&:before {
		mask-image: var(--icon-location);
	}
}

.icon-phone {
	&:before {
		mask-image: var(--icon-phone);
	}
}

.icon-fb {
	&:before {
		mask-image: var(--icon-fb);
	}
}

.icon-x {
	&:before {
		mask-image: var(--icon-x);
	}
}

.icon-insta {
	&:before {
		mask-image: var(--icon-insta);
	}
}

.icon-youtube {
	&:before {
		mask-image: var(--icon-youtube);
	}
}

.title {
	font-family: var(--ff-secondary);
	font-size: clamp(3.25rem, 3.015rem + 1.176vw, 3.875rem); // 62px to 52px
	line-height: 1.18;
	text-transform: uppercase;

	&:before {
		content: '';
		display: block;
		width: 20px;
		height: 4px;
		background-color: var(--c-pink);
		margin-bottom: 25px;
	}
}

.title:not(:last-child) {
	margin-bottom: clamp(2.25rem, 1.932rem + 1.591vw, 3.125rem); // 50px to 36px
}

.text {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5;
}

.text:not(:last-child) {
	margin-bottom: clamp(1.125rem, 0.966rem + 0.795vw, 1.563rem); // 25px to 18px
}