.about {

	&__inner {
		padding-block: 140px 175px;
		display: flex;
		justify-content: flex-end;
		background-image: url('/src/assets/images/home/about-bg.webp');
		background-repeat: no-repeat;
		background-size: 600px;
		background-position: left center;
	}

	.content {
		max-width: 470px;
	}

	.title {
		margin-bottom: 50px;
	}

	.text {
		margin-bottom: 25px;
	}

	.buttons {
		display: flex;
		gap: 10px;
	}
}