@use './hero/hero';
@use './about/about';

.home-page {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: transparent;

		&.scrolled {
			background-color: var(--c-dark);
		}
	}
}