@use './hero/hero';
@use './about/about';
@use './rental/rental';
@use './choose/choose';

.home-page {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: transparent;
	}
}