@use "../../../styles/mixins" as*;

.header {
	background-color: var(--c-dark);
	color: var(--c-white);
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.header-top {
	border-bottom: 1px solid var(--c-white);

	&__inner {
		display: flex;
		justify-content: space-between;
		padding-block: 12px;
	}
}

.contact-info {
	display: flex;
	gap: 40px;

	@include rmax($xl) {
		font-size: 14px;
	}

	@include rmax($md) {
		font-size: 0;
		gap: 15px;
	}

	@include rmax($xs) {
		gap: 0;
	}

	&__link {
		font-weight: 300;
		transition: color 0.3s ease-in-out 0s;
		gap: 10px;

		&:before {
			background-color: var(--c-lightgray);
		}

		@include hover {
			color: var(--c-pink);
		}

	}
}

.header-bottom {
	padding-block: 30px;

	@include rmax($md) {
		padding-block: 12px;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	gap: 32px;

	@include rmax($md) {
		gap: 24px;
	}

	@include rmax($sm) {
		display: none;
	}

	&__link {
		position: relative;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		transition: color 0.3s ease-in-out 0s;

		@include hover {
			color: var(--c-pink);
		}

		&.active {
			&:before {
				content: '';
				position: absolute;
				bottom: -5px;
				left: 0;
				right: 0;
				height: 2px;
				background-color: currentColor;
			}
		}
	}
}