.breadcrumbs {
	padding-block: 20px;

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {}

	&__link {
		display: flex;
		align-items: center;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.5;
		text-transform: uppercase;
		color: var(--c-gray);

		&:after {
			content: '/';
			width: 16px;
			text-align: center;
		}

		&--current {
			color: var(--c-dark);

			&:after {
				content: none;
			}
		}
	}
}