<article class="bike-card">
	<img class="bike-card__img" src="/src/assets/images/bicycles/{{bikeImageName}}.webp" alt="bike picture" width="245"
		height="184" loading="lazy">
	<div class="bike-card__content">
		<h3 class="bike-card__title">{{bikeName}}</h3>
		<p class="bike-card__label">{{bikeLabel}}</p>
		<div class="bike-card__footer">
			<div class="bike-card__price">
				<span class="bike-card__cost">$ {{bikePrice}}</span> / Days
			</div>
			<button class="btn btn--white">rent</button>
		</div>
	</div>
</article>