@use '../../../../styles/mixins' as*;

.rental {
	padding-block: 80px 130px;
	background-image: linear-gradient(90deg, rgba(56, 28, 117, 1) 94%, rgba(255, 255, 255, 1) 94%);

	&__inner {
		display: flex;
		align-items: center;
		gap: 140px;
	}

	.content {
		max-width: 370px;
	}

	.title {
		margin-bottom: 50px;
	}

	.text {
		margin-bottom: 25px;
	}
}


.rental-price {
	display: grid;
	grid-template-columns: repeat(2, 250px);
	gap: 60px;
}

.price-card {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&:before {
		content: '';
		display: block;
		width: 36px;
		height: 36px;
		@include bg-contain;
	}

	&.icon-alarm {
		&:before {
			background-image: var(--icon-alarm);
		}
	}

	&.icon-time {
		&:before {
			background-image: var(--icon-time);
		}
	}

	&.icon-sandclock {
		&:before {
			background-image: var(--icon-sandclock);
		}
	}

	&.icon-calendar {
		&:before {
			background-image: var(--icon-calendar);
		}
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.17;
	}

	&__text {}
}