.services-advantages {

	.advantages__inner {
		padding-block: 60px;
		margin-bottom: 40px;
		justify-content: flex-end;
		background-image: url('/src/assets/images/services/services-advantages.webp');
		background-position: left 15px center;
	}
}