@use '../../../../styles/mixins' as*;

.stats {

	&__inner {
		position: relative;
		padding-block: 80px;
		padding-inline: 45px;

		@include rmax($lg) {
			padding-inline: 0;
		}

		@include rmax($xs) {
			padding-block: 60px;
		}

		&:before {
			content: '';
			width: calc(100% + 110px);
			position: absolute;
			top: 0;
			bottom: 0;
			left: -55px;
			right: -55px;
			background-color: var(--c-blue);
			z-index: -1;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		@include rmax($lg) {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 25px;
		}

		@include rmax($sm) {
			grid-template-columns: 1fr;
		}
	}
}