@use '../../../styles/mixins' as*;

.footer {
	background-image: url('/src/assets/images/footer-bg.webp');
	@include bg-cover;

	font-weight: 300;
	font-size: 14px;
	line-height: 1.43;
	color: var(--c-white);
	padding-top: 60px;
	padding-bottom: 20px;

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 25px;

		@include rmax($lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include rmax($sm) {
			grid-template-columns: 1fr;
		}
	}

	&__group {}
}

.footer-details {

	&__text {
		margin-bottom: clamp(1rem, 0.909rem + 0.455vw, 1.25rem); //20px to 16px
	}

	.logo {
		display: block;
		margin-bottom: clamp(1.75rem, 1.614rem + 0.682vw, 2.125rem); //34px to 28px
	}
}

.insta-blog {

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		max-width: 210px;
	}

	&__img {}
}

.footer-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.78;
	text-transform: uppercase;
	margin-bottom: clamp(1rem, 0.818rem + 0.909vw, 1.5rem); //24px to 16px
}

.contacts {

	&__list {
		li {
			&:not(:last-child) {
				margin-bottom: clamp(0.75rem, 0.705rem + 0.227vw, 0.875rem); //14px to 12px
			}
		}
	}

	&__link {

		@include hover {
			text-decoration: underline;
		}
	}
}

.subscribe {}

.subscribe-form {
	margin-bottom: clamp(1rem, 0.909rem + 0.455vw, 1.25rem); //20px to 16px

	&__group {
		display: flex;
		max-width: 275px;
		align-items: center;
		border: 1px solid rgba(#fff, 0.6);
		border-radius: 6px;
		transition: border-color 0.3s ease-in-out 0s;

		&:focus-within {
			border-color: var(--c-pink);
		}
	}

	&__input {
		width: 100%;
		padding: 18px;
		outline: 0;
		color: var(--c-white);
	}

	&__btn {
		width: 60px;
		height: 50px;
		padding: 18px 20px;
		mask-image: var(--icon-email);
		mask-repeat: no-repeat;
		mask-size: 24px;
		mask-position: center;
		background-color: var(--c-white);
		transition: background-color 0.3s ease-in-out 0s;

		@include hover {
			background-color: var(--c-pink);
		}
	}
}



.copy {
	padding-top: clamp(1.875rem, 1.648rem + 1.136vw, 2.5rem); //40px to 30px
	font-size: 12px;
	color: var(--c-lightgray);
}