@use '../../../../styles/mixins' as*;

.discount {
	padding-block: 80px;
	background-image: url('/src/assets/images/about/discount-bg.webp');
	@include bg-cover;

	@include rmax($lg) {
		background-position: left;
	}

	@include rmax($xs) {
		padding-block: 60px;
	}

	&__inner {
		@include rmax($md) {
			display: flex;
			justify-content: center;
		}
	}

	.content {

		@include rmin($md-above) {
			max-width: 400px;
			width: 100%;
			margin-left: auto;
		}
	}

	.title {}
}