@use '../../../../styles/mixins' as*;

.discount {
	padding-block: 80px;
	background-image: url('/src/assets/images/about/discount-bg.webp');
	@include bg-cover;

	&__inner {}

	.content {
		max-width: 400px;
		width: 100%;
		margin-left: auto;
	}

	.title {
		margin-bottom: 50px;
	}
}