.stats-card {
	text-align: center;
	padding-inline: 30px;

	&__num {
		font-family: var(--ff-secondary);
		font-size: 42px;
		line-height: 1.48;
		letter-spacing: 0.02em;
		margin-bottom: 10px;

		&:after {
			content: '';
			display: block;
			margin-inline: auto;
			width: 20px;
			height: 4px;
			background-color: var(--c-pink);
			margin-bottom: 20px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.17;
		text-transform: capitalize;
		margin-bottom: 10px;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.43;
		padding-inline: 15px;
	}
}