@use '../../../../styles/mixins' as*;

.movement {
	padding-block: 60px 100px;

	@include rmax($sm) {
		padding-block: 60px 80px;
	}

	@include rmax($xs) {
		padding-block: 40px 60px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 100px;

		@include rmax($xl) {
			gap: 16px;
		}

		@include rmax($md) {
			flex-wrap: wrap;
			justify-content: center;
			gap: 35px;
		}
	}

	.video {
		position: relative;
		height: auto;
		max-width: 600px;
		width: 100%;
		aspect-ratio: 600 / 440;
		background-image: url('/src/assets/images/about/play-video.webp');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		cursor: pointer;
		transition: box-shadow 0.3s ease-in-out 0s;

		&:after {
			content: '';
			position: absolute;
			width: 80px;
			height: 80px;
			inset: 0;
			margin: auto;
			@include mask-contain;
			mask-image: var(--icon-play);
			background-color: var(--c-white);
			transition: background-color 0.3s ease-in-out 0s;
		}

		@include hover {
			box-shadow: inset 0 0 1000px 0 rgba(0, 0, 0, 0.5);

			&:after {
				content: '';
				background-color: var(--c-pink);
			}
		}
	}

	.content {
		max-width: clamp(18.75rem, -0.139rem + 39.352vw, 29.375rem); //470px to 300px
		width: 100%;

		@include rmax($md) {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	.title {
		@include rmax($md) {
			&:before {
				margin-inline: auto;
			}
		}
	}

	.text {}

	.buttons {
		display: flex;
		gap: 10px;
	}
}