@use '../../../styles/mixins' as*;

.rental {
	padding-block: 80px 130px;
	background-color: var(--c-blue);

	@include rmin($xl) {
		background-image: linear-gradient(90deg, var(--c-blue) 94%, rgba(255, 255, 255, 1) 94%);
		background-color: transparent;
	}

	@include rmax($md) {
		padding-block: 100px;
	}

	@include rmax($sm) {
		padding-block: 80px;
	}

	@include rmax($xs) {
		padding-block: 60px;
	}

	&__inner {
		display: flex;
		align-items: center;
		gap: clamp(3.125rem, -28.223rem + 50.562vw, 8.75rem);

		@include rmax($md) {
			flex-direction: column;
		}
	}

	.content {
		max-width: 370px;

		@include rmax($md) {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.title {
		@include rmax($md) {
			&:before {
				margin-inline: auto;
			}
		}
	}

	.text {}
}


.rental-price {
	display: grid;
	grid-template-columns: repeat(2, 250px);
	gap: clamp(2.5rem, -1.786rem + 8.929vw, 3.75rem);

	@include rmax($lg) {
		grid-template-columns: repeat(2, 200px);
	}

	@include rmax($xs) {
		grid-template-columns: repeat(1, 250px);
	}
}

.price-card {
	display: flex;
	flex-direction: column;
	gap: 16px;

	@include rmax($md) {
		align-items: center;
		text-align: center;
	}

	&:before {
		content: '';
		display: block;
		width: 36px;
		height: 36px;
		@include bg-contain;
	}

	&.icon-alarm {
		&:before {
			background-image: var(--icon-alarm);
		}
	}

	&.icon-time {
		&:before {
			background-image: var(--icon-time);
		}
	}

	&.icon-sandclock {
		&:before {
			background-image: var(--icon-sandclock);
		}
	}

	&.icon-calendar {
		&:before {
			background-image: var(--icon-calendar);
		}
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.17;
	}

	&__text {}
}