<ul class="social">
	<li class="social__item"><a class="social__link icon icon-fb" href="https://facebook.com" target="_blank"><span
				class="sr-only">Go to our
				facebook page</span></a></li>
	<li class="social__item"><a class="social__link icon icon-insta" href="https://instagram.com" target="_blank"><span
				class="sr-only">Go to
				our instagram page</span></a></li>
	<li class="social__item"><a class="social__link icon icon-youtube" href="https://youtube.com" target="_blank"><span
				class="sr-only">Go to
				our youtube channel</span></a></li>
	<li class="social__item"><a class="social__link icon icon-x" href="https://x.com" target="_blank"><span
				class="sr-only">Go to our X
				page</span></a></li>
</ul>