:root {
	--ff-primary: 'Roboto', sans-serif;
	--ff-secondary: 'Anton', sans-serif;

	--c-white: #fff;
	--c-dark: #212223;
	--c-lightgray: #b2b2b9;
	--c-gray: #62656A;
	--c-pink: #FF285B;
	--c-purple: #A790DA;
}